@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Nothing+You+Could+Do&display=swap");

$surface-padding: 16px;

html {
  * { box-sizing: border-box; }

  font-family: "Coming Soon", sans-serif;
  font-size: 18px;
  background: url("/img/background.jpg") no-repeat center center fixed;
  background-size: cover;

  .surface {
    position: relative;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    overflow: hidden;

    .header {
      font-family: "Nothing You Could Do", cursive;
      font-size: 28px;
      padding: 16px 16px 0;
      text-align: center;
    }

    img {
      display: block;
      width: 100%;
    }

    .text {
      padding: 8px 16px;
      line-height: 1.5;

      &:first-child {
        padding-top: 16px;
      }

      &:last-child {
        padding-bottom: 16px;
      }
    }

    img + .text { padding-top: 8px; }

    .footer {
      font-size: small;
      padding: 8px 16px 16px;
    }
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 100px);
    min-width: 100%;

    .surface {
      margin: 16px;
      display: grid;
      grid-template:
        "names names"
        "image image"
        "doug mabel";

      max-width: calc(100vw - 24px);
    }

    .names {
      font-size: 48px;
      font-family: "Nothing You Could Do", cursive;
      padding: 20px;
      grid-area: names;
      text-align: center;
    }

    img { grid-area: image; }

    .doug, .mabel {
      padding: 20px;
      text-align: center;

      .dates {
        padding-top: 8px;
        font-size: 14px;
      }
    }
  }

  main {
    max-width: 1200px;
    margin: auto;

    .surface {
      display: inline-block;
    }
  }

  .obituaries {
    display: flex;
    flex-wrap: wrap;

    .obituary {
      display: inline-block;
      width: 50%;
      padding: 16px;

      @media (max-width: 900px) { width: 100%; }
    }

    .surface {
      width: 100%;
      margin: 0;

      .image {
        display: flex;
        justify-content: center;

        img {
          display: block;
          margin: 16px;
          width: 100%;
          max-width: 250px;
        }
      }
    }
  }

  .comments {
    columns: 1 auto;
    column-gap: 0;

    .surface { margin: 16px; }

    @media (min-width: 800px) { column-count: 2; }
    @media (min-width: 1000px) { column-count: 3; }
    @media (min-width: 1200px) { column-count: 4; }
  }
}
