.add-comment {
  .surface {
    width: 100%;
  }

  textarea,
  input {
    font-family: "Coming Soon", sans-serif;
    font-size: 18px;

    margin: -8px;
    padding: 8px;

    width: calc(100% + 16px);
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
  }

  textarea { font-size: 18px; }

  input { font-size: 14px; }

  .save-btn {
    cursor: default;
    border: 1px solid grey;
    padding: 8px;
    margin: -8px;
    border-radius: 8px;
    background: lightgray;
    text-align: center;

    transition: background-color 200ms;

    &:hover {
      background: azure;
    }
  }
}
