.add-comment {
  .surface {
    width: 100%;
  }

  textarea,
  input {
    font-family: "Coming Soon", sans-serif;
    font-size: 18px;
    padding: 8px;

    width: 100%;

    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
  }

  textarea {
    resize: none;
    font-size: 18px;
    height: 300px;
  }

  input {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .error {
    font-size: 14px;
    color: darkred;
  }

  .save-btn {
    cursor: default;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0);
    text-align: center;

    transition: background-color 200ms;

    &:hover {
      background: rgba(255, 255, 255, 1);
    }
  }
}
